LARK_APP_ID=cli_a975bd3a93b99eed
LARK_APP_SECRET=replace_with_your_lark_app_secret
LARK_SOURCE_DATE_FIELD=
LARK_HR_TABLE_URL=https://dacsankinhdo.sg.larksuite.com/base/MYsqbAZWwamm6NsDRUNlkRc0gEg?table=tblTzjbVaEn78wQH&view=vewIliHDMf
LARK_HR_NAME_FIELD=
